.pill {
  border-radius: 100px;
  border-width: 0px;
  padding: 2px 8px 3px 8px;
  text-align: center;
  margin: 0px 0px 0px 8px;
  font-weight: 700;
  font-size: 12px;
}

.active {
  background-color: var(--mint02);
}

.warning {
  background-color: var(--yellow);

}

.inactive {
  background-color: var(--grey04);
}
