.mainRow {
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 16px 4px 24px;
}

.chevron {
  transition: 0.2s ease-in-out;
  min-width: 32px;
}

.open .chevron {
  transform: rotate(-180deg);
  transition: 0.2s ease-in-out;
}

.contentRow {
  border-bottom: 0.5px solid var(--grey02);
}

.content {
  position: relative;
  transition: top 350ms ease, opacity 350ms ease, max-height 350ms ease, padding-bottom 350ms ease;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  will-change: top, opacity, max-height, padding-bottom;
  overflow: hidden;
}

.open.content {
  max-height: var(--max-height);
  margin: 1px -1px -1px;
  opacity: 1;
  visibility: visible;
}

.values {
  display: flex;
  justify-content: center;
}

.cell:last-of-type {
  padding: 0 20px 0 6px;
}
